@model IEnumerable<WebApplication2.DataModel.CountryData>

@{
    ViewBag.Title = "Country";
}

<h2>Country</h2>
<p>
    @Html.ActionLink("Ürün Ekle", "Create")
    <span style="margin-left:5%;">
        @Html.ActionLink("Bildirim Geçmişi", "Notification")
    </span>
    <span style="margin-left:5%;">
        @Html.ActionLink("Ülkeler", "Country")
    </span>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_COUNTRY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COUNTRY_NAME)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_COUNTRY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COUNTRY_NAME)
            </td>
            <td>
        </tr>
    }
</table>

