@model WebApplication2.ViewModel.UrunlerVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ürünler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seri_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seri_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parti_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parti_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GTIN_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTIN_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Üretim_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Üretim_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Son_Kullanma_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Son_Kullanma_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Karekod_Bilgisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karekod_Bilgisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palet_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palet_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koli_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koli_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İş_Emri_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İş_Emri_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bildirim_Durumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bildirim_Durumu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
