@model WebApplication2.ViewModel.UrunlerVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ürünler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seri_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seri_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parti_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parti_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GTIN_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTIN_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Üretim_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Üretim_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Son_Kullanma_Tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Son_Kullanma_Tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Karekod_Bilgisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karekod_Bilgisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palet_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palet_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koli_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koli_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İş_Emri_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İş_Emri_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bildirim_Durumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bildirim_Durumu)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.BildirimValue)
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-car-alt"></i></span>
                </div>
                @Html.DropDownListFor(model => model.BildirimValue, new SelectList(Model.Bildirim, "Value", "Text"), new { @class = "form-control float-right", @type = "text" })
            </div>
            @Html.ValidationMessageFor(model => model.BildirimValue, "", new { @class = "bg-danger color-palett" })

        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Details" class="btn btn-default" /> 
        </div>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
